

.heading {
    height: 75px;
    background-color: #e1eef3;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

.logo {
    margin-top: 25px;
    margin-right: auto;
    margin-left: 20px;
}

.social-icons li {
    display: inline;
    margin: 25px;
    margin-top: 25px;
}

.icons {
    margin-top: 20px;
}

.form-icon {
    position: relative;
}

.form-icon input {
    padding-left: 30px;
}

.form-icon i {
    position: absolute;
    padding: 10px 90px; 
}

.form-control {
    margin-left: 80px;
}

.input-field {
    background-color: #e1eef3;
}

.btn-info {
    margin-left: 80px;
    margin-top: 20px;
}

label.remember {
    color: #02baf2;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
}

.heading i {
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 25px;
}

.heading h2 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #02baf2;
    font-size: 42px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #02baf2;
    font-size: 25px;
    -webkit-font-smoothing: antialiased;
}

h3 {
    font-family: 'Source Sans Pro' , sans-serif;
    color: #02baf2;
    padding-left: 20px;
}

h4 {
    font-family: 'Source Sans Pro' , sans-serif;
    color: #02baf2;
}

h5 {
    font-family: 'Source Sans Pro' , sans-serif;
    color: #02baf2;
}

.items h2 {
    margin-top: 5px;
    padding-top: 5px;
}

.items {
    height: 50px;
    border: 1px solid #e1eef3;
    margin-left: 0;
    margin-right: 0;
}

.items label {
    padding-left: 10px;
    padding-top: 15px;
}

.items i {
    padding-top: 15px;
}

.icons {
    margin-top: 10px;
    padding: 0;
}

.footer-icons {
    background-color: #364347;
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
}

.footer-icons li {
    display: inline-block;
    width: 19%;   
    color: #02baf2;
    text-align: center;
}

/*Media Queries */

@media screen and (min-width: 768px) {
    
.footer-icons li {
    display: inline-block;
    margin-right: 40px;
    margin-left: 60px;
    color: #02baf2;
} 

